* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #ffffff;
}

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 80px;
}

.logo {
      width: 180px;
}

.navigation ul {
      list-style: none;
      display: flex;
      gap: 65px;

}

.navigation a {
      text-decoration: none;
      color: black;
      font-weight: 500;
}

.navigation  a:hover{
      color:#ff7ac6;

}

.signin_btn {
      width:90px;
      height:30px;
      padding: 8px 18px;
      border: none;
      border-radius: 5px;
      background: linear-gradient(to right, #ff7ac6, #a36bff);
      color: white;
      cursor: pointer;
}

.hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 80px;
}
.discription{
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    max-width: 500px;
    margin-bottom: 20px;
}

.line1 {
      font-size: 45px;
      font-weight: bolder;
}

.line2 {
      font-size: 35px;
      font-weight: bolder;
      
}

.line3,
.line4 {
      font-size: 45px;
      font-weight: bolder;
}
.line3{
      margin-left:50px;
}
.line4{
      margin-left: 170px;
}


.footer img{
    width: 120px;
    height: auto;
}
.footer ul{
      display: flex;
      background-color: white;
      justify-content: space-around;
      list-style:none ;
      align-items: center;
      padding: 20px;
      
}


.main_student_img{
      height: 550px;
}
.praposal_btn{
    width:140px;
      height:35px;
      padding: 8px 18px;
      border: none;
      border-radius: 5px;
      background: linear-gradient(to right, #ff7ac6, #a36bff);
      color:black;
      cursor: pointer;  
}
.trynow_btn{
    width:140px;
      height:35px;
      padding: 8px 18px;
      border: 2px solid #ff7ac6;
      border-radius: 5px;
      background: white;
      margin-left: 20px;
      color: black;
      cursor: pointer;
}
.trynow_btn:hover{
      background:linear-gradient(to right, #ff7ac6, #a36bff) ;
}
.praposal_btn:hover{
      background: white;
}